BR2_arm=y
BR2_arm1176jzf_s=y

#
# uClibc Options
#
BR2_UCLIBC_CONFIG="board/raspberrypi/uClibc-0.9.33.config"

#
# Kernel Header Options
#
BR2_KERNEL_HEADERS_VERSION=y
BR2_DEFAULT_KERNEL_HEADERS="3.10.38"
BR2_DEFAULT_KERNEL_VERSION="3.10.38"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_3_10=y

#
# GCC Options
#
BR2_EXTRA_GCC_CONFIG_OPTIONS="--with-float=hard"
# BR2_SOFT_FLOAT is not set
BR2_TARGET_OPTIMIZATION="-pipe -mhard-float"

#
# Toolchain Options
#
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TOOLCHAIN_BUILDROOT_LARGEFILE=y

#
# System configuration
#
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_DEVTMPFS=y
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="board/raspberrypi/skeleton"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/raspberrypi/postscript.sh"
BR2_TARGET_GENERIC_GETTY_PORT="ttyAMA0"
BR2_TARGET_GENERIC_HOSTNAME="rpi"
BR2_TARGET_GENERIC_ISSUE=""

#
# Package Selection for the target
#
BR2_PACKAGE_RPI_USERLAND=y

#
# Filesystem images
#
BR2_TARGET_ROOTFS_TAR=y
BR2_TARGET_ROOTFS_TAR_NONE=y

#
# Bootloaders
#
BR2_TARGET_RPI_FIRMWARE=y

#
# Kernel
#
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="3.10.38"
BR2_LINUX_KERNEL_VERSION="3.10.38"
BR2_LINUX_KERNEL_PATCH="http://dl.guillermoamaral.com/rpi/kernel-3.10.38.patch"
BR2_LINUX_KERNEL_USE_DEFCONFIG=y
BR2_LINUX_KERNEL_DEFCONFIG="bcmrpi_quick"
BR2_LINUX_KERNEL_ZIMAGE=y

